/*--FONTS--*/
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
/*--RESET & GENERAL--*/
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
    border: none;
    -webkit-font-smoothing: antialiased;
}
html, body {
    height: 100%;
}
a{
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
input, textarea {
    width: 100%;
    resize: none;
}
/*--BODY--*/
 body {
    font: 400 14px/30px 'Lato', sans-serif;
    color: #4f4f4f;
    background: #f4f1ed;
}
p {
    margin: 0 0 15px 0;
}
/*--ALL WRAPPERS--*/
 header, #compose, #posts, #content, footer {
    width: auto;
    overflow: hidden;
}
header, #compose, #posts, #content {
    padding: 50px 0 0 0;
}
#posts, #content {
    padding-bottom: 25px;
}
footer {
    padding: 0 0 50px 0;
}
header div, #posts, #content, footer {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
/*--HEADER--*/
header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: white;
}
header > div.content {
    padding: 5px 0 5px 0;
}
header #logo {
    width: 58px;
    height: 58px;
    float: left;
}
.dropdown {
    display: block;
}
header nav ul {
    margin-top: 14px;
}
header nav ul.left {
    float: left;
}
header nav ul.right{
    float: right;
}
header nav li {
    padding-left: 30px;
    display: inline;
}
header nav li a {
    color: #c1c1c1;
    font: 400 16px 'Lato', sans-serif;
}
header nav li a:hover {
    color: #FF7550;
}
/*--COMPOSE--*/
#compose, #compose input, #compose textarea {
    background: #FF7550;
}
#compose h1 {
    font-size: 24px;
    color: white;
    text-align: center;
}
#compose input, #compose textarea {
    color: white;
}
#compose input {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    padding: 30px 0 30px 0;
}
#compose textarea {
    font-size: 22px;
    font-family: 'Droid Serif', serif;
}
::-webkit-input-placeholder  { color:#C65A3E; }
::-webkit-input-placeholder  { color:#C65A3E; }
input:-moz-placeholder { color:#C65A3E; }
textarea:focus:-moz-placeholder { color:#C65A3E; }
#compose form{
    width: 45%;
    margin: 0 auto;
    padding-bottom: 50px;
}
/*--POSTS--*/
.post {
    width: 100%;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: white;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(174,174,174,0.22);
    -moz-box-shadow: 0px 2px 1px 0px rgba(174,174,174,0.22);
    box-shadow: 0px 2px 1px 0px rgba(174,174,174,0.22);
}
.post:nth-child(n) {
    margin: 0 1em 1em 0;
}
.post h3 {
    padding: 30px;
    font: 400 16px 'Lato', sans-serif;
    color: #4f4f4f;
}
.post h3 span{
    font: 300 16px 'Lato', sans-serif;
    float: right;
}
.post .author {
    padding: 10px 0 10px 0;
    font: 400 16px 'Lato', sans-serif;
    color: #8b8b8b
}
.post .preview {
    font: 400 16px 'Droid Serif', serif;
}
.post p {
    line-height: 24px;
    margin: 0;
}
.post img {
    padding-right: 6px;
}
/*--ABOUT--*/
.full {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.title {
    margin-bottom: 20px;
}
.title h2 {
    font: 400 24px 'Lato', sans-serif;
}
.desc p {
    font: 400 16px 'Droid Serif', serif;
    line-height: 26px;
}
.plate {
    width: 100%;
    height: 150px;
    margin-bottom: 40px;
}
.avatar {
    width: 150px;
    height: 150px;
    background: #fff;
    float: left;
    border-radius: 6px;
}
.name {
    float: left;
    margin: 40px 0 0 20px;
}
.name p:first-child {
    font: 400 20px 'Lato', sans-serif;
}
.name p:last-child {
    font: 16px 'Droid Serif', serif;
}
/*--PRESS--*/
.desc a {
    color: #4f4f4f;
}
#button {
    margin: 0 auto;
    width: 175px;
    padding-top: 30px;
}
a.btn {
    display: block;
    text-align: center;
    padding: 15px;
    background: #FF7550;
    font-weight: 900;
    color: white;
    border-radius: 8px;
}
a.btn:hover {
    background: #e86441;
}
.img {
    width: 50%;
    height: 300px;
    background: #fff;
    float: left;
}
/*--FOOTER--*/
footer ul li {
    text-align: center;
    display: inline;
    padding-right: 30px;
}
footer li a {
    color: #c1c1c1;
    font: 400 14px;
}
footer li a:hover {
    color: #4f4f4f;
}
/*--RESPONSIVENESSNESS--*/
@media only screen and (min-width: 748px) {
    #posts {
        -webkit-column-count: 2;
        -webkit-column-fill: auto;
        -moz-column-count: 2;
        -moz-column-fill: auto;
        column-count: 2;
        column-fill: auto;
    }
}
 @media only screen and (max-width: 812px) {
    header > div.content{
        padding: 2px 0 2px 0;
    }
    #compose form, .full{
        margin: 0 auto;
        width: 90%;
    }
    .avatar {
        margin: 0 auto;
        width: 100%;
    }
    .name {
        width: 100%;
        margin: 15px 0 30px 0;
        text-align: center;
    }
    .plate {
        width: 100%;
        padding-bottom: 30px;
    }
    footer {
        padding: 10px 0 35px 0;
    }
    /*--NAV--*/
    .nav-toggle {
        margin-top: 20px;
        padding: 10px 35px 16px 0px;
        float: right;
    }
    .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
      height: 3px;
      width: 35px;
      border-radius: 10px;
      background: #d1d1d1;
      position: absolute;
      content: '';
    }
    .nav-toggle span:before {
      top: -10px;
    }
    .nav-toggle span:after {
      bottom: -10px;
    }
    .dropdown{
        display: none;
    }
    .dropdown ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .dropdown ul.right {
        padding-bottom: 25px;
    }
    .dropdown ul li {
        margin-top: 30px;
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;
      }
    .dropdown ul li a {
        font-size: 18px;
    }
    .expand {
        display: block !important;
    }
    /**/

}
